# ---------------------------
# Python virtual environments
# ---------------------------
.venv/
venv/

# ---------------------------
# Python caches
# ---------------------------
__pycache__/
*.pyc

# ---------------------------
# Git / GitHub / IDE
# ---------------------------
.git/
.github/
.vscode/
.idea/

# ---------------------------
# Logs and temporary files
# ---------------------------
*.log
*.tmp

# ---------------------------
# Compressed / build artifacts
# ---------------------------
*.tgz
*.zip

# ---------------------------
# Node.js
# ---------------------------
node_modules/

# ---------------------------
# YOLO models (we'll copy only the necessary in Dockerfile)
# ---------------------------
models/
!models/best.pt

# ---------------------------
# Allow only necessary files for Docker build
# ---------------------------
!Dockerfile
!cloudbuild.yaml
!fastapi_yolo/**
!requirements-server.txt
!requirements.txt
!static/**
!alembic.ini
!alembic/**
